.idea
build
.gradle
classes
local.properties
styles.css
styles.css.gz
*.iml
out

target
example/node_modules
example/vite.generated.ts
example/.npmrc
example/frontend/generated

!**/src/main/dev-bundle/webapp/VAADIN/build
