.view-toolbar {
    display: flex;
    background-color: var(--lumo-base-color);
    box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);
    margin: 0 calc(-50vw + 50%);
    padding: 8px calc(50vw - 50% + 16px);
    position: relative;
    z-index: 1;
    flex: none;
}

.view-toolbar__search-field {
    flex: auto;
    min-width: 0;
    margin-right: 16px;
}

html {
    --main-layout-header-height: 64px;
    background-color: transparent !important;
}

body {
    background-color: var(--lumo-contrast-5pct);
}

.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}

.main-layout__title {
    font-size: 1em;
    margin: 0;
    /* Allow the nav-items to take all the space so they are centered */
    width: 0;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.main-layout > * {
    flex: auto;
}

.main-layout__header {
    display: flex;
    flex: none;
    align-items: center;
    height: var(--main-layout-header-height);

    /* Stretch to fill the entire browser viewport, while keeping the content constrained to
       parent element max-width */
    margin: 0 calc(-50vw + 50%);
    padding: 16px calc(50vw - 50% + 16px);

    background-color: var(--lumo-base-color);
    box-shadow: 0 1px 0 0 var(--lumo-contrast-5pct);
}

.main-layout__nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.main-layout__nav-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.3s color, 0.3s transform;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    line-height: 1.3;
}

.main-layout__nav-item:hover {
    text-decoration: none;
}

.main-layout__nav-item:not([highlight]):hover {
    color: inherit;
}

.main-layout__nav-item[highlight] {
    color: var(--lumo-primary-text-color);
    cursor: default;
}

.main-layout__nav-item iron-icon {
    /* Vaadin icons are using a 16x16 grid */
    padding: 4px;
    box-sizing: border-box;
    pointer-events: none;
}


/** Reviews styles **/
#header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

/* Subtitle for the header */
#header span {
    display: block;
    font-size: var(--lumo-font-size-s);
    font-weight: 400;
    color: var(--lumo-secondary-text-color);
    letter-spacing: 0;
    margin-top: 0.3em;
    margin-left: auto;
}

.review {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--lumo-space-wide-xl);
    padding-right: var(--lumo-space-m);
    box-sizing: border-box;
    margin-bottom: 8px;
    background-color: var(--lumo-base-color);
    box-shadow: 0 0 0 1px var(--lumo-shade-5pct), 0 2px 5px 0 var(--lumo-shade-10pct);
    border-radius: var(--lumo-border-radius);
}

.review__rating {
    flex: none;
    align-self: flex-start;
    margin: 0 1em 0 0;
    position: relative;
    cursor: default;
}

.review__score {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--lumo-border-radius);
    font-weight: 600;
    width: 2.5em;
    height: 2.5em;
    margin: 0;
}

[data-score="1"] {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-10pct);
}

[data-score="2"] {
    background-color: var(--lumo-contrast-20pct);
}

[data-score="3"] {
    background-color: var(--lumo-contrast-40pct);
}

[data-score="4"] {
    background-color: var(--lumo-contrast-60pct);
    color: var(--lumo-base-color);
}

[data-score="5"] {
    background-color: var(--lumo-contrast-80pct);
    color: var(--lumo-base-color);
}

.review__count {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 8px;
    padding: 0 6px;
    background: var(--lumo-base-color);
    color: var(--lumo-secondary-text-color);
    top: -10px;
    left: -10px;
    border-radius: var(--lumo-border-radius);
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 0 0 1px var(--lumo-contrast-20pct);
}

.review__count span {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.review__rating:hover .review__count span {
    width: auto;
    margin-left: 0.4em;
}

.review__details {
    width: 100%;
    max-width: calc(100% - 8.5em);
    flex: auto;
    line-height: var(--lumo-line-height-xs);
    overflow: hidden;
}

.review__name {
    margin: 0 0.5em 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review__category {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--lumo-primary-color-10pct);
    color: var(--lumo-primary-text-color);
    border-radius: calc(var(--lumo-border-radius) / 2);
    padding: 0 0.5em;
}

/* We only expect to have 10 categories at most, after which the colors start to rotate */
.review__category {
    color: hsla(calc(340 + 360 / 10 * var(--category)), 40%, 20%, 1);
    background-color: hsla(calc(340 + 360 / 10 * var(--category)), 60%, 50%, 0.1);
}

.review__date {
    white-space: nowrap;
    line-height: var(--lumo-line-height-xs);
    margin: 0 1em;
    width: 30%;
}

.review__date h5 {
    font-size: var(--lumo-font-size-s);
    font-weight: 400;
    color: var(--lumo-secondary-text-color);
    margin: 0;
}

.review__date p {
    font-size: var(--lumo-font-size-s);
    margin: 0;
}

.review__edit {
    align-self: flex-start;
    flex: none;
    margin: 0 0 0 auto;
    width: 5em;
}

.reviews {
    background-color: transparent;
}

.reviews vaadin-grid-cell-content {
    background-color: var(--lumo-contrast-5pct);
}

.reviews__no-matches {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    font-size: 22px;
    color: var(--lumo-tertiary-text-color);
}

/* Small viewport styles */
@media (max-width: 500px) {
    .review {
        padding: var(--lumo-space-m);
        padding-right: var(--lumo-space-s);
        flex-wrap: wrap;
    }

    .review__date {
        order: 1;
        margin-left: 3.5em;
        margin-top: 0.5em;
    }
}

<
/
style >
< dom-module id

=
"my-dialog-styles"
theme-for

=
"vaadin-dialog-overlay"
>
< template >
< style include

=
"lumo-color lumo-typography"
>
h3 {
    margin-top: 0;
}

vaadin-form-layout {
    max-width: 30em;
}

.buttons {
    padding: var(--lumo-space-s) var(--lumo-space-l);
    margin: calc(var(--lumo-space-l) * -1);
    margin-top: var(--lumo-space-l);
    border-top: 1px solid var(--lumo-contrast-10pct);
}

.buttons > :last-child {
    margin-left: auto;
}

.buttons > :nth-last-child(2) {
    margin-right: var(--lumo-space-m);
}

.confirm-buttons {
    justify-content: space-between;
    padding: var(--lumo-space-xs) var(--lumo-space-m);
    margin-top: var(--lumo-space-m);
}

.has-padding {
    padding: 0 var(--lumo-space-l);
    margin: 0 calc(var(--lumo-space-l) * -1);
}

.confirm-text {
    max-width: 25em;
    line-height: var(--lumo-line-height-s);
}

.confirm-text > * {
    margin-bottom: 0.6em;
}

.confirm-text div:not(:first-child) {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
}
